/* default padding margin box-sizing  */
*{
    padding: 0;
    margin: 0;
    /* can more predictably control the space an element will take up without having to account for padding and border seperately */
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* our container is the screen display */
/* we've indicated our container should cover the whole page with 100% width and 100vh */
/* we've centered everything with display flex, align-items and justify-content: center */
.container {
    width: 100%;
    height: 100vh;
    background: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* our calcualor class only needs colouring and some internal padding and rounded edges */
.calculator {
    background: #3a5678;
    padding: 20px;
    border-radius: 20px;
}

/* button formatting
no border or outline, width and height same for square buttons, rounded edges, box shadow nested for emphasis of 3 dimensional looking buttons, transparent background with font-size color and cursor with margin for space between */

/* our calculator buttons require the most work - we've got to remove outlines and borders, create square buttons by eqaulling width and height with rounded edges border-radius, we nest box-shadow to create our 3D affect and set the background to transparent, set font size text color and cursor pointer */
.calculator form input{
    margin: 10px;
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

/* our form display is our input field which needs to flex across the entire element using display felx and justify-content flex-end */
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

form .display input{
    text-align: right;
    /* full width */
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

/* add colour to first row */
form input.operator{
    color: #33ffd8;
}